*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-inline-end: 0;
}
@font-face {
    font-family: 'TT Lakes Condensed bold';
    src: url('../font/TTLakesCondensed-Bold.eot');
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
    url('../font/TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/TTLakesCondensed-Bold.woff') format('woff'),
    url('../font/TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../font/TTLakesCondensed-Regular.eot');
    src: local('TT Lakes Condensed Regular'), local('TTLakesCondensed-Regular'),
    url('../font/TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/TTLakesCondensed-Regular.woff') format('woff'),
    url('../font/TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Condensed medium';
    src: url('../font/TTLakesCondensed-Medium.eot');
    src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
    url('../font/TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/TTLakesCondensed-Medium.woff') format('woff'),
    url('../font/TTLakesCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

button{cursor: pointer; border: 0;}
label{cursor: pointer;}

.menubar{
    width: 320px;
    height: 100vh;
    min-height: 768px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 0 50px 0 #cdcdcd;
}
.header{
    height: 88px;
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
}
.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: opacity .7s;
    box-shadow: 0 0 3px 0 gray;
}
.button_burger {
    background-position: center;
    background-image: url("../img/burger.svg");
}
.button_search{
    background-position: center;
    background-image: url("../img/search.svg");
}
.button_tel {
    background-position: center;
    background-image: url("../img/call.svg");
}
.button_chat{
    background-position: center;
    background-image: url("../img/chat.svg");
}
.button_profile {
    background-position: center;
    background-image: url("../img/profile.svg");
}
.button:hover{
    transition: opacity .7s;
    opacity: .3;
}
.nav{
    display: flex;
}
.menubar__nav.nav {
    flex-direction: column;
    margin-bottom: 32px;
}
.nav__radio {
    display: none;
}
.nav__radio-label {
    position: relative;
    margin: 32px 0 0 24px;
    vertical-align: center;
    transition: color 0.5s;
}
.nav__radio-label:hover, .footer__radio-label:hover, .footer__text:hover{
    color: #FF3E79;
    transition: color 0.5s;
}
.nav__radio:checked + .nav__radio-label, .footer__radio:checked + .footer__radio-label{
    color: #7E7E82;
}

.nav__radio:checked + .nav__radio-label::before{
    position: absolute;
    content: "";
    border: 2px solid #41f6d7;
    height: 32px;
    left: -24px;
    top: -4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.text {
    font-family: 'TT Lakes Condensed', "Arial", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 20px;
}
.text.text_medium {
    font-family: 'TT Lakes Condensed medium', "Arial", sans-serif;
    font-weight: 500;
}
.text.text_bold{
    font-family: 'TT Lakes Condensed bold', "Arial", sans-serif;
    font-weight: 400;
}
.text.text_16px {
    font-size: 16px;
    line-height: 24px;
}
.text.text_24px{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: .6px;
}

.header__logo_menubar{
    margin-left: 16px;
}
.header__left-block {
    margin-left: 24px;
    display: flex;
    align-items: center;
}
.header__right-block{
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-left: auto;
}
.menubar__footer{
    margin-top: auto;
    margin-bottom: 32px;
    margin-left: 24px;
}
.footer__contacts-block {
    margin-bottom: 40px;
}
.footer__buttons {
    display: flex;
    margin-bottom: 16px;
}
.footer__button:not(:last-child){
    margin-right: 16px;
}
.footer__text+.footer__text{
    margin-top: 12px;
}
.footer__radio{
    display: none;
}
.footer__text {
    cursor: pointer;
}
.footer__radio-label:not(:last-child) {
    margin-right: 7px;
}